html{
    background-image: url("../img/rompe.jpg");
    background-size: cover;
}




 
body{background: linear-gradient(rgba(255,0,0,.5),rgba(193, 196, 15, 0.5)); ; padding: 20px; margin: 10px;
    margin: auto;
} 

nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center; background-image: url("../img/rp11.jpg"); border: rgba(41, 38, 38, 0.5);
}

li{
    font-size: 17px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;bottom: unset;list-style: none; margin-right: 6px; align-items: center; display: flex;
    justify-content: right;
    display: flex;
    margin: 15px;
    background: linear-gradient(rgba(255,0,0,.5),rgba(193, 196, 15, 0.5));
    color: rgb(50, 126, 192);
    border-radius: 19px; ;
    padding: 6px;
}
ul{ display: flex;
    justify-content: space-between;
    align-items: center;



}
div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.izquierda P{color: rgb(49, 38, 143);font-size: 25px; background-image: url("../img/destreza2.png") ; display: block; align-items: center;
     justify-content: center;font-family: 'Righteous', cursive; 
    

}
.izquierda {display: block; align-items: center; justify-content: center;

}

.izquierda h1 {
    color: rgb(12, 25, 211); 
    font-family: 'Righteous', cursive;align-items: center;
}
.derecha{
    margin-right: 3%;
}
